{% load static %}
<!-- <link rel="stylesheet" href="style.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />
<style>

@font-face {
    font-family: 'tourfont';
    src: url("{% static 'font/Nunito-Regular.ttf' %}") format('opentype');
    }

    @font-face {
        font-family: 'tourfontbold';
        src: url("{% static 'font/Nunito-Bold.ttf' %}") format('opentype');
        }
    @font-face {
        font-family: 'tourfontbolder';
        src: url("{% static 'font/Nunito-ExtraBold.ttf' %}") format('opentype');
        }
    @font-face {
        font-family: 'tourfontlight';
        src: url("{% static 'font/Nunito-Light.ttf' %}") format('opentype');
        }    
</style>