{% comment %} {% extends 'base.html' %}  {% endcomment %}

{% load static %}
<html>
{% include 'css.html' %}
{% include 'js.html' %}
{% include 'nav.html' %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'detail.css'%}">
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- style="background: #eaecf0;" -->
    <body>
        <section style="margin-top: 20px;">
            <div class="fl_rw" style="width: 90%;margin: auto;">
                <section style="width: 70%;">
                    <div class="cntnt" style="padding:0px 20px 0px 10px">
                        <div style="background:url({{package.banner.normal.url}});height: 350px;background-repeat: no-repeat;background-position: center;background-size: cover;">
                            <!-- <img src="{{package.banner.normal.url}}" /> -->
                        </div>
                        <div class="art">
                            <div style="font-size: 1.6em;font-weight: bold;">
                                {{package.name}}
                            </div>
                            <div style="margin-top: 12px;">
                                <span class="over_text">
                                    {{package.overview | safe}}
                                </span>
                            </div>
                            <!-- <hr> -->
                        </div>

                        <div class="art">
                            <div>
                                <h2 style="font-size: 1.5em;font-weight: bold;">ITERNARY</h2>
                                <div style="margin-top: 12px;">
                                    
                                    
                                    {% for it in package.package_itinerary_set.all %}
                                    
                                    
                                    
                                    <div class="it_m_block">
                                    
                                        <div>

                                        </div>
                                        <div class="it_block" >
                                            <div class="fl_rw" style="margin-left: -28px;">
                                                <div class="circle">

                                                </div>
                                                <div class="it_title">
                                                    <h3>{{it.day}} </h3>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="display:flex;flex-flow: wrap;">
                                                    <div class="tags">
                                                    {% for hight in it.heightligts_as_list %}
                                                        <!-- <div class="bx_outer">
                                                            <div class="bx_inner">
                                                                {{ hight }}
                                                            </div>
                                                        </div> -->
                                                        <div class="tag is-rounded is-light is-primary">
                                                            {{ hight }}
                                                        </div>

                                                        
                                                        
                                                    {% endfor %}
                                                </div>

                                                </div>

                                            </div>
                                            
                                            
                                            <div class="it_content">
                                                <p>
                                                    {{it.description|safe}}
                                                </p>
                                                
                                            </div>                                        </div>

                                        <!-- <hr> -->
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>                        
                        </div>
                        <div class="art">
                            <span class="title_" style="font-size: 1.5em;font-weight: bold;">
                                Inclusion
                            </span>
                                <div style="padding-left:20px;margin-top: 15px;">
                                    <ul class="inclusion">
                                        <li>Welcome drink on arrival (non alcohlic)</li>
                                        <li>Accommodation in Double room in Trivandrum and Kovalam. </li>
                                        <li>Sightseeing as per the itinerary on point to point basis.</li>
                                        <li>Daily breakfast at hote</li>
                                        <li>All Transportation by Private AC Car  with Driver with ample local knowledge as per the above tour. </li>
                                        <li>Transportation charges are inclusive of all fuel charges, daily driver allowance, night charges, toll taxes and parking. </li>
                                        <li>Limit of 600 km for 4 days for taxi. Extra km will be charged @ Rs 12 per km. </li>
                                        <li>Local assistance if required.</li>
                                    </ul>
                                </div>
                        </div>
                        <div class="art">
                            <span class="title_" style="font-size: 1.5em;font-weight: bold;">
                                Exclusion
                            </span>
                                <div style="padding-left:20px;margin-top: 15px;">
                                    <ul class="exclusion">
                                        <li>Local guides for sight-seeing.</li>
                                        <li>GST @5%  </li>
                                        <li>Any optional activities like boating, trekking, paragliding, jungle safari, Elephant safari, Kath kali show and Ayurveda massages. </li>
                                        <li>Any kind of airfare /train fare. </li>
                                        <li>Any still / video camera fees applicable at the monuments or activities are chargeable direct.</li>
                                        <li>Any alcoholic and non-alcoholic beverages, mineral water, use of mini bar in room and room service. </li>
                                        <li>Personal expenses such as laundry, communication charges (Phone/Internet). </li>
                                        <li>Lunch, dinner, en route meals, sightseeing and activities other than those mentioned in the itinerary.</li>
                                        <li>Tips and gratuities to drivers, Guides etc. and any other expenses/service not mentioned in the inclusions. </li>
                                        <li>Toursntrip reserves the right to change/modify or terminate the offer any time at its own discretion and without any prior notice.</li>
                                    </ul>
                                </div>
                        </div>                        
                    </div>

                </section>

                <section style="width: 30%;" class="right_portion">
                    <div style="display:flex;border: 1px solid rgb(225, 225, 225);padding: 20px 10px 20px 10px;background-color: white;">
                        <div class="card_" style="align-self: center;width: 100%;text-align: center;">
                            <h2 class="title">Excellent</h2>
                            <div style="font-size: 1.3em;">5</div>
                            <i class="fa fa-star" aria-hidden="true" style="color:orange"></i>
                            <div style="font-size:0.7em">132 Reviews</div>
                        </div>

                    </div>
                    <div style="display:flex; flex-flow:column; border: 1px solid rgb(225, 225, 225);margin-top: 20px;padding: 20px 10px 20px 10px;background-color: white;">
                        <div class="fl_rw m10b" >
                            <div class="w20p">
                                <img class="l_icons" src="/media/photos/icons/pin.png">
                            </div>
                            <div class="w80p f14p" style="margin-left: 10px;">
                                <p style="color:black;font-family:tourfontlight;">
                                    {{package.destination}}
                                </p>
                            </div>
                        </div>
                        <div class="fl_rw m10b">
                            <div style="width: 100%;" class="fl_rw">
                                <div class="w20p_">
                                    <img class="l_icons" src="/media/photos/icons/sun.png">
                                </div>
                                <div class="w80p_ f14p" style="color:#4a4a4a;font-family:tourfontbold;margin-left: 10px;">
                                    {{package.duration}} Days
                                </div>
                            </div>
                            <div style="width: 100%;" class="fl_rw">
                                <div class="w20p_">
                                    <img class="l_icons" src="/media/photos/icons/moon.png">
                                </div>
                                <div class="w80p_ f14p" style="color:#4a4a4a;font-family:tourfontbold;margin-left: 10px;">
                                    {{package.duration|add:"1"}} Nights
                                </div>
                            </div>
                        </div>                     
                    
                    </div>                   

                    <div style="display:flex;border: 1px solid rgb(225, 225, 225);margin-top: 20px;padding: 20px 10px 20px 10px;background-color: white;">
                        <div class="card_" style="align-self: center;width: 100%;text-align: center;">
                            
                            <!-- <h2 class="title" style="font-weight: 300;">Excellent</h2>
                            <div style="font-size: 1.3em;">5</div> -->
                            <div class="fl_rw">
                                <div style="width: 100%;">
                                    <div class="title_" style="color: #00c4a7;font-weight: 900;font-size: 1.3em;font-family: tourfontbold;">{{package.listPrice}} INR</div>
                                    <del style="color: grey;">{{package.mrp}}</del>
                                
                                </div>
                                <!-- <div style="width: 50%;">
                                    <span>Save</span>
                                    <div><b>20</b></div>
                                </div> -->
                            </div>
                            <div>
                                <div class="fl_rw m10b_ attr-icons" style="width: 100%;margin-top: 15px;margin-bottom: 15px;">
                                    <div class="w100p">
                                        <div class="fl_cl" style="align-items: center;">
                                            <img class="l_icons" src="/media/photos/icons/car.png">
                                            <span class="ft10p" style="font-family:tourfontlight;">Transfer</span>
                                        </div>
                                    </div>
                                    <div class="w100p">
                                        <div class="fl_cl" style="align-items: center;">
                                            <img class="l_icons" src="/media/photos/icons/meal.png">
                                            <span class="ft10p" style="font-family:tourfontlight;">Meal</span>
                                        </div>
                                    </div>
                                    <div class="w100p">
                                        <div class="fl_cl" style="align-items: center;">
                                            <img class="l_icons" src="/media/photos/icons/binoculars.png">
                                            <span class="ft10p" style="font-family:tourfontlight;">Sightseeing</span>
                                        </div>
                                        
                                    </div>
                                    <div class="w100p">
                                        <div class="fl_cl" style="align-items: center;">
                                            <img class="l_icons" src="/media/photos/icons/hotel.png">
                                            <span class="ft10p" style="font-family:tourfontlight;">Stay</span>
                                        </div>
                                    </div>
                                    <div class="w100p">
                                        <div class="fl_cl" style="align-items: center;">
                                            <img class="l_icons" src="/media/photos/icons/plane.png">
                                            <span class="ft10p" style="font-family:tourfontlight;">Flight</span>
                                        </div>

                                    </div>
                                </div>                                   
                            </div>

                            <button type="button" class="button is-primary is-rounded is-small" style="font-weight: bold;">Submit Query</button>
                        </div>


                    </div>     
            

                </section>
            </div>
        </section>

    </body>

    <script>
        $(document).ready(()=>{
            $(".it_block").on('click',(e)=>{
                // console.log($($(e).find(".it_content")))
                // $(e.currentTarget.childNodes[5]).toggle({top:200})
                
                var target = e.currentTarget.childNodes[5]
                $(target).slideToggle()
                    
                // $(".it_title").click((x)=>{
                //     $(target).slideToggle()
                // })
                
                // console.log(e.currentTarget.childNodes[5])
                // $($(e).find(".it_content")).toggle()
            })
        })
    </script>

</html>