<style>
    .x{
        margin: 2px;
        color: white;
        font-size:medium;
    }
</style>
<footer style="background:#2d2d2d;margin-top: 20px;">
    <div>
        <div class="fl_rw">
            <div style="display: flex;margin: auto;">
                <div class="x">
                    Info
                </div>
                <div class="x">
                    Support
                </div>
                <div class="x">
                    Marketing
                </div>
            </div>

        </div>
        <div class="fl_rw">
            <div style="display: flex;margin: auto;">
                <div class="x">
                    Term of Use
                </div>
                <div class="x">
                    Private Policy
                </div>
            </div>
        </div>
        <div class="fl_rw">
            <div style="display: flex;margin: auto;">
                <div class="x">
                    &copy; 2020 toursntrip
                </div>
                
            </div>
        </div>
    </div>
    
</footer>