{% load static %}
<html>
{% include 'css.html' %}
{% include 'js.html' %}
{% include 'nav.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{% static 'style.css'%}">


<meta charset="UTF-8">
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
    
    /* @font-face {
    font-family: 'tfont';
    src: local('Abc'),url("{% static 'font/PlayfairDisplay-VariableFont_wght.ttf' %}") format('opentype');
    } */
</style>
<body>
<section>
    <section class="banner_img">
        <div>
    
        </div>
    </section>
    <section class="all_packages">
        <!-- <div style="text-align: center;">
            <h2>All Tours</h2>
        </div> -->
        
        <div class="pack" style="margin: auto;">
            
        <div style="margin-top: 100px;">
            <div style="margin-bottom: 20px;">
                <span class="subtitle" style="font-weight: bold;font-family: Arial, Helvetica, sans-serif;">
                    Found {{count}} Tours
                </span>
                
            </div>
            

            <div class="fl_rw_">
                {% for package in packages %}
                    <div class="fl_rw s_pack" style="background: white">
                        <div class="img w100p_ block-left" >
                            <div class="on-image-content">
                                <h2 class="img-cont" style="font-family: Arial">
                                    <a href="/{{package.name.split|join:'-'}}-{{package.id}}">
                                        {{package.name}}
                                    </a>
                                    
                                </h2>
                                
                            </div>
                            
                            
                            <div class="pack-img" style="background-image: url(media/{{package.banner.thumbnail}});background-position: center;background-size:cover" ></div>


                        </div>
                        
                        <div class="block-right">
                            <div class="fl_rw" style="height: 100%;">
                                <div class="dy-pad" style="width: 75%;">
                                    <div class="pack-info w100p">
                                        <h2 class="title" style="font-family: Arial">
                                            <a href="/{{package.name.lower.split|join:'-'}}-{{package.id}}">
                                                {{package.name}}
                                            </a>
                                        </h2>
                                        <div>

                                            <div class="fl_rw m10b" >
                                                <div class="w20p">
                                                    <i class="fa fa-map-marker primary_color" style="font-size: 22px;" aria-hidden="true"></i>
                                                </div>
                                                <div class="w80p f14p">
                                                    <p style="color:black;font-family:tourfontlight;">
                                                        {{package.destination}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="fl_rw m10b">
                                                <div class="w20p">
                                                    <i class="fa fa-clock-o primary_color" style="font-size: 22px;" aria-hidden="true"></i>
                                                </div>
                                                <div class="w80p f14p" style="color:#4a4a4a;font-family:tourfontbold;">
                                                    {{package.duration}}D/{{package.duration|add:"1"}}N
                                                </div>
                                                
                                            </div>   
                                            <div class="fl_rw m10b_ attr-icons">
                                                <div class="w100p">
                                                    <div class="fl_cl" style="align-items: center;">
                                                        <img class="l_icons" src="media/photos/icons/car.png">
                                                        <span class="ft10p" style="font-family:tourfontlight;">Transfer</span>
                                                    </div>
                                                </div>
                                                <div class="w100p">
                                                    <div class="fl_cl" style="align-items: center;">
                                                        <img class="l_icons" src="media/photos/icons/meal.png">
                                                        <span class="ft10p" style="font-family:tourfontlight;">Meal</span>
                                                    </div>
                                                </div>
                                                <div class="w100p">
                                                    <div class="fl_cl" style="align-items: center;">
                                                        <img class="l_icons" src="media/photos/icons/binoculars.png">
                                                        <span class="ft10p" style="font-family:tourfontlight;">Sightseeing</span>
                                                    </div>
                                                    
                                                </div>
                                                <div class="w100p">
                                                    <div class="fl_cl" style="align-items: center;">
                                                        <img class="l_icons" src="media/photos/icons/hotel.png">
                                                        <span class="ft10p" style="font-family:tourfontlight;">Stay</span>
                                                    </div>
                                                </div>
                                                <div class="w100p">
                                                    <div class="fl_cl" style="align-items: center;">
                                                        <img class="l_icons" src="media/photos/icons/plane.png">
                                                        <span class="ft10p" style="font-family:tourfontlight;">Flight</span>
                                                    </div>

                                                </div>
                                            </div>    
                                            <div style="margin-top: 10px;" class="pack-mobile-button">
                                                <button type="button" style="display: flex;margin-top: 10px;" packid="{{package.id}}" class="q_button button is-small is-rounded is-primary">Submit Query</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price_block" style="">
                                    <div class="pack-pricing w100p">
                                        <div class="fl_cl">
                                            
                                            <i class="fa fa-star" aria-hidden="true" style="color:orange"></i>
                                            <div>
                                                
                                                <span style="font-size: 12px;">132 Ratings</span>
                                            </div>
                                            <div>
                                                <del style="color: grey;font-size: 0.8em;">INR {{package.mrp}}</del>
                                                
                                            </div>
                                            <div>
                                                <span style="color:black;font-size: 1em;font-family: tourfontbold;">
                                                    INR {{package.listPrice}}
                                                </span>
                                            </div>
                                            <div style="margin-top: 10px;" class="pack-desk-button">
                                                <button type="button" packid="{{package.id}}" class="q_button button is-small is-rounded is-primary">Submit Query</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

            <div>
                <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                    <!-- <a class="pagination-previous">Previous</a> -->
                    <!-- <a class="pagination-next">Next page</a> -->

                    {% if packages.has_previous %}
                    <!-- <a href="?page=1">&laquo; first</a> -->
                    <a href="?page={{ packages.previous_page_number }}" class="pagination-previous" >Previous Page</a>
                    {% endif %}

                    {% if packages.has_next %}
                        <a href="?page={{ packages.next_page_number }}" class="pagination-next">Page Page</a>
                        <!-- <a href="?page={{ packages.paginator.num_pages }}">last &raquo;</a> -->
                    {% endif %}
                    
                    
                    <ul class="pagination-list">
                      
                      <!-- <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                      <li><span class="pagination-ellipsis">&hellip;</span></li>
                      <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                      <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                      <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                      <li><span class="pagination-ellipsis">&hellip;</span></li>
                      <li><a class="pagination-link" aria-label="Goto page 86">86</a></li> -->


                      <!-- {% if packages.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ packages.previous_page_number }}" >previous</a>
                      {% endif %} -->
                
                        <!-- <span class="current">
                            Page {{ packages.number }} of {{ packages.paginator.num_pages }}.
                        </span> -->
                


                    </ul>
                  </nav>
            </div>
        </div>



    </section>
</section>





<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="overflow:unset;max-width: 450px;">
        <div class="box">
            <div style="overflow:hidden;margin-bottom: 10px;">
                <div style="float:left">
                    <h1 class="model-title" style="display: initial;font-weight: 300;font-size: 1.5em;">Get your quote</h1>
                </div>
                <div style="float: right;margin-top: 5px;">
                    <button class="delete" aria-label="close"></button>
                    <!-- <button class="modal-close is-large" aria-label="close"></button> -->
                </div>
            </div>
            <form>
                {% csrf_token %}
                <div class="columns">
                    <div class="column">
                        <label class="label">Name</label>
                        <input type="hidden" id="packid" />
                        <input type="text" placeholder="Enter Name" name="name" class="input c_input" required/></div>
                    <!-- <div class="column"><input type="date" name="end_date" class="input c_input is-small" required/></div>
                    <div class="column is-2"><button type="submit" class="button is-small is-primary is-rounded">Excel</button></div> -->
                </div>
                <div class="columns">
                    <div class="column">
                        <label class="label">Enter Email</label>
                        <input type="text" name="email" class="input c_input" placeholder="Email" />
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <label class="label">Contact Number</label>
                        <input type="text" name="mobile" class="input c_input" placeholder="Contact Number" />
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <label class="label">Date of travel</label>
                        <input type="date" name="date" class="input c_input" placeholder="Date of travel" />
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-6">
                        <label class="label">Your Destination</label>
                        <input type="text" name="destination" class="input c_input" placeholder="Destination" />
                    </div>
                    <div class="column is-6">
                        <label class="label">City</label>
                        <input type="text" name="city" class="input c_input" placeholder="From City" />
                    </div>
                </div>
                <!-- <div class="columns">
                    <div class="column">
                        <label class="label">City</label>
                        <input type="text" class="input c_input" placeholder="From City" />
                    </div>
                </div> -->
                <input type="button" class="submitquery button is-primary is-rounded is-success is-small" value="Submit Query" />

            </form>

                    
            
        </div>
    </div>
    <!-- <button class="modal-close is-large" aria-label="close"></button> -->
</div>

{% include 'footer.html' %}
</body>

<script>
    $(document).ready(()=>{
        $(".q_button").click((e)=>{
            console.log(e.currentTarget.getAttribute("packid"))
            // console.log($(this).attr("packid"))
            $("#packid").val(e.currentTarget.getAttribute("packid"))
            
            $(".modal").addClass("is-active")
        })
        $(".delete").click(()=>{
            $(".modal").removeClass("is-active")
        })
        $(".modal-background").click(()=>{
            $(".modal").removeClass("is-active")
        })

        $(".submitquery").click(()=>{
            // console.log("clicked")
            
            // $(":input[name='name']").val()
            // $(":input[name='name']").val()
            // $(":input[name='name']").val()
            // $(":input[name='name']").val()
            // $(":input[name='name']").val()

            $.ajax({
                url:"/ajax_request",
                method:'POST',
                data:{
                    "packid":$("#packid").val(),
                    "name":$(":input[name='name']").val(),
                    "mobile":$(":input[name='mobile']").val(),
                    "email":$(":input[name='email']").val(),
                    "date":$(":input[name='date']").val(),
                    "destination":$(":input[name='destination']").val(),
                    "city":$(":input[name='city']").val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:(e)=>{
                    console.log("sucess")
                    console.log(e)
                },
                error:(e)=>{
                    console.log("error")
                    console.log(e)
                }
            })
            
        })
    })
</script>

</html>