

body{
    color: black;
    font-family: tourfont;
}
            
.w100p{
    width: 100%;
}
.ft10p{
    font-size: 10px;
}
.title{
    margin-bottom: 10px !important;
    font-size: 1.3em;
    font-family: tourfontbold;
}
.pd_20{
    padding: 20px;
}
.price_block{
    display: flex;
    align-items: center;
    text-align: center;
}
.s_pack{
    height: 230px;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    /* border-radius: 15px; */
    transition:box-shadow .3s;
}
.pd_10{
    padding: 10px;
}
.w20p{
width: 25px;
}
.f14p{
    font-size: 14px;
}

.s_pack:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}


.l_icons{
    opacity: 0.7;
    width: 25px;
}

.m10b{
    margin-bottom: 10px;
}
.pack-img{
    height: 100%;
}
.pack{
    width: 70%;
}
.w80p{
    width: 95%;
}
.primary_color{
color: #00d1b2;
}

.fl_rw{
    display: flex;
    flex-flow: row;
}
.fl_cl{
    display: flex;
    flex-flow: column;
}
.ov_auto{
    overflow: auto;
}
.fl_rt{
    float: right;
}
.fl_lt{
    float: left;
}
.over_text p{
    color: grey;
}
p{
    text-align: justify;
    color: black;
}
.block-left{
    width: 30%;
}
.block-right{
    width: 70%;
}
.attr-icons{
    width: 70%;
}
.pack-mobile-button{
    display: none;
}
.columns{
    margin-bottom: 0px !important;
}
.input{
    border-radius: 0 !important;
}
.input:active,.input:focus{
    box-shadow: none !important;
}

.c_input{
height: 2.1em !important;
}

.pack-desk-button{
    display: initial;
}
.dy-pad{
    padding: 1.2rem;
}
.price_block{
    padding: 0 1.2rem 0 1.2rem;width: 25%;margin: 1.2rem 0 1.2rem 0;border-left: 1px solid rgba(0,0,0,0.1);
}
.on-image-content{
    display: none;
}

.descline p{
    color: grey;
    font-size: 13px;
}
.it_title{
    /* background:linear-gradient(90deg,#00c4a7,white); */
    width: 100%;
    margin-left: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.it_title h3{
    font-size: 1.2em;
    font-weight: bold;
    margin: auto;
}
.it_block{
    margin: auto;
    padding-left: 20px;
    border-left: 2px solid #00c4a7;
    padding-bottom: 20px;
}
.it_block p{
    color: #4a4a4a;
    line-height: 1.7;
}
.it_m_block{
    margin: auto;
}
.it_content{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}
.circle{
    width: 14px;
    background: #00c4a7;
    border-radius: 100%;
    height: 14px;
    margin-top: 5px;
    columns: #00c4a7;    
}
.bx_outer{
    width: auto;
/* flex: auto; */
    padding: 2px 5px;
}
.bx_inner{
    cursor: pointer;
    padding: 3px;
    /* padding: 0px 5px 0px 1px; */
    margin: auto;
    color: #f05927;
    background: white;
    text-align: center;
    transition: box-shadow .3s;
    transition: background .3s;
    width: auto;
    border-radius: 30px;
}
.tag:not(body).is-primary.is-light {
    background-color: #ebfffc;
    color: #00947e;
    font-weight: bold;
    border: 1px solid;
}

@media(max-width:600px){
    .title{
        display: none;
    }
    /* .pack-img{
        filter: brightness(0.8);
    } */
    .img-cont{
        z-index: 100;
        padding: 10px;
        font-size: 1.5em;
        font-weight: bold;
        color: white;
        text-shadow: 1px 2px 3px 0px;
    }

    .block-left{
        position: relative;
    }

    .on-image-content{
        /* top: 70%; */
        bottom: 0;
        display: initial;
        position: absolute;
        z-index: 10;
        width: 100%;
        background:linear-gradient(0deg, black, transparent)
    }


    .dy-pad{
        padding: 0.8rem;
    }

    .price_block{
        padding: 0 0.8rem 0 0.8rem;width: 25%;margin: 0.8rem 0 0.8rem 0;
    }

    .w20p{
        width: 10%;
    }
    .pack-mobile-button{
        display: initial;
    }
    .pack-desk-button{
        display: none;
    }    

    .attr-icons{
        width: 100%;
    }
    .block-left,.block-right{
        width: 100%;
    }
    .s_pack{
        flex-flow: column;
        height: auto;
    }
    .pack-img{
        height: 200px;
    }
    .pack{
        width: 100%;
    }
}